/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v11-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-700.woff") format("woff"), url("../fonts/dm-sans-v11-latin-700.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-700.svg#DMSans") format("svg"); /* Legacy iOS */
}
.episodes__list, .hero__list, .site-nav__list {
  list-style: none;
}

.hero__link, .site-nav__link {
  text-decoration: none;
}

.episode__btn, .episodes__btn {
  display: block;
  padding: 12px 15px 12px 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #118da8;
  border: none;
  border-radius: 6px;
  cursor: url(../images/cursor.svg), auto;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  background-color: #191919;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1330px;
  outline: 1px solid tomato;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo--margin {
  margin-right: auto;
}

.site-nav {
  color: #fff;
}
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.site-nav__link {
  display: block;
  padding: 46px 0;
  font-size: 17px;
  line-height: 1.59;
  color: currentColor;
  -webkit-transition-property: color, false, false;
  transition-property: color, false, false;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #118da8;
}

.hero__container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.hero__thumb {
  overflow: hidden;
  border-radius: 13px;
}

.hero__wrap {
  padding-top: 294px;
}

.hero__title {
  margin-bottom: 90px;
  width: 526px;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.26;
  letter-spacing: 3.2px;
  color: #fff;
}
.hero__title--bold {
  font-weight: 700;
}

.hero__title--line {
  position: relative;
}

.hero__title--line::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 11px;
  content: " ";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='160' height='11' viewBox='0 0 160 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M161.952 6.53183C129.845 0.775619 97.196 3.95946 65.0087 2.92304C43.7248 2.22961 22.4395 0.559384 1.17106 0.000167246C0.533394 -0.0147452 0.00896029 0.969451 0.000103908 2.20719C-0.00836745 3.44492 0.502216 4.45899 1.13949 4.4739C22.4057 5.03312 43.6886 6.70335 64.9702 7.39678C97.0997 8.43322 129.687 5.24189 161.736 10.9906C162.371 11.1025 162.934 10.2003 162.995 8.97007C163.053 7.73979 162.583 6.65113 161.952 6.53183Z' fill='%23118DA8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.hero__text {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.episodes {
  padding-top: 93px;
  padding-bottom: 160px;
}
.episodes__title {
  margin-right: auto;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.24;
  letter-spacing: 2.88px;
  color: #fff;
}
.episodes__wrap {
  margin-bottom: 40px;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.episodes__item:not(:last-child) {
  margin-bottom: 60px;
}

.episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
  padding: 40px;
  background-color: #000000;
  border-radius: 12px;
}

.episode__wrap {
  width: 778px;
}

.episode__chapter {
  display: inline-block;
  margin-bottom: 48px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #191919;
  border-radius: 6px;
}

.episode__part {
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 1.59;
  color: #118da8;
}

.episode__title {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 2.56px;
  color: #fff;
}

.episode__descr {
  margin-bottom: 18px;
}

.about {
  padding: 100px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 94px;
}/*# sourceMappingURL=main.css.map */