%list {
  list-style: none;
}

%link {
  text-decoration: none;
}

%btn {
  display: block;
  padding: 12px 15px 12px 20px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: getColors('primary-text');
  background-color: getColors('primary-accent');
  border: none;
  border-radius: 6px;

  cursor: pointer;
}
