.site-nav {
  color: getColors('primary-text');

  // .site-nav__list

  &__list {
    display: flex;
    gap: 40px;
    @extend %list;
  }

  // &__item {
  // }

  &__link {
    display: block;
    padding: 46px 0;
    font-size: 17px;
    line-height: 1.59;
    @extend %link;
    color: currentColor;
    @include transition(color);

    &:hover,
    &:focus {
      color: getColors('primary-accent');
    }
  }
}
