.episodes {
  padding-top: 93px;
  padding-bottom: 160px;

  &__title {
    margin-right: auto;

    font-weight: 400;
    font-size: 64px;
    line-height: 1.24;
    letter-spacing: 2.88px;

    color: getColors('primary-text');
  }

  &__btn {
    @extend %btn;
  }
}

.episodes__wrap {
  margin-bottom: 40px;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.episodes__list {
  @extend %list;
}

.episodes__item:not(:last-child) {
  margin-bottom: 60px;
}
